body {
	background-image: url('background.gif');
	background-repeat: no-repeat;
	background-position: top;
	background-size: initial;
	background-color: black;
}

#hai {
	text-align: center;
	color: white;
}